# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDEs / Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / Distribution
build/
dist/
*.egg-info/

# Logs
*.log

